div {
	display:block;
	height:50px;
	width:50px;
	border:1px black solid;
}

#circle{
	border-radius: 100%;
}
#rounded_square{
	border-radius:10px;
}
.blue{
	background-color:blue;
}

.red{
	background-color: red;
 }

.small{
	/*TODO: make as twice smaller than other objects */
}